
@main("Walmart") {


  <h1>LISTAR</h1>
  <form method="get" action="/produtos/geral" >
  	<button type="submit">Listar todos os produtos</button>
  </form>

  <p></p>


  <form method="get" action="/produtos/filtrado" >
	  <span> Listar produtos do valor
	  	<input type="number" name="min"/>
	  	 ao valor <input type="number" name="max" />
	  </span>
	  <button type="submit">Listar</button>
  </form>



  <hr/>


  <h1>COMPRAR</h1>
  <form>
  	<span>Comprar produto(TIPO)</span>
  	<input value="tipoProduto"/>
  	<p></p>
  	Quantidade: <input value="qtd"/>
  	<button>Comprar</button>
  </form>
}
